@import "./style.css";

.actionCard img {
    object-fit: cover;
    height: 100px;
    width: auto;
    border-radius: 0;
}

.actionCard {
    margin-bottom: 30px;
    width: 70%;
    max-width: 650px;
}

.description .userAction {
    height: 25px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.description {
    display: inline-flex;
    align-items: center;
}

.card-title {
    padding: 5px 0;
    margin: 0;
}

.form-check {
    background-color: #96b1c5;
    padding: 7px 0 5px 30px;
    border-radius: 50px 0 0 50px;
}

.progress-bar {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.progress span {
    margin-left: 5px;
    padding-top: 7px;
}

@media only screen and (max-width: 1000px) {
    .actionCard {
        width: 100%;
    }

}


.card .header {
    padding: 0.5em 1.25rem;
    font-size: 14px;
}

.bg-info {
    background-color: #96b1c5 !important;
}

.progress {
    background: white ;
    height: 1.8rem;
}

.card .poll {
    padding: 1em 1em 0 1em;
}

.actionCard .card-body{
    padding:2em;
}

.actionCard .card-body p{
    margin:0;
}

.actionCard .card-body h5{
    margin:0;
    font-size: 16px;
    padding: 0 1em;
}

.actionCard .card-body .pollOption{
    font-size: 12px;
}

#feed{
    margin-top:2em;
    
}

.form-radio{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 25px;
     width: 25px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
     margin-top: 0 !important;
}
.form-radio:checked::before{
    position: absolute;
    font: 11px/1 'Open Sans', sans-serif;
    left: 15px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}
.form-radio:hover,.form-radio:checked{
     background-color: #f1f1f1;
}

.card input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    height: 15px;
    width: 15px;
}

.card-body i {
    font-size: 3rem;
    margin: 10px;
}

.carousel{
    box-shadow: 0px 0px 5px #cecacaad;

}

.carousel img{
    height:200px;
    object-fit: cover;
}

.carousel .col-3 {
    display: inline-block;
  float: none;
}


#carousel-container .row{
    overflow-x: auto;
  white-space: nowrap;
}

#carousel-container{
    padding: 10px 0 1em 0;
    margin-bottom: 4em;
    max-width: 100%;

}
#carousel-container h4{
    margin: 0 1.5em;
    padding-bottom:15px;
    text-transform: uppercase;
    font-size: 16px;
    display:flex;
      flex-direction: column;
      align-items: center;

}

#carousel-container hr{
    margin: 0 2em 1em 2em;
}

.card--content img{
    height:300px;
    object-fit: cover;
    min-width: 30vw;
    border-radius: 4px;

}

.card--content{
    margin-right:5px;
}

#carousel-container .card {
    min-width: 99%;
    min-height: 200px;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow:none;
    margin:0 5px;
  }

  #highlights{
      margin:10px 5px;
      
  }

  #carousel-container .card {display: flex;
    flex-direction: row;
    overflow-x: auto;}
