@import "./style.css";

#headerPic {
    object-fit: cover;
    height: 100px;
    width: auto;
    border-radius: 0;
}

.actionCard .invite {
    max-width: 650px;
}

.actionCard {
    margin-bottom: 30px;
    width: 70%;
    max-width: 650px;
}

.description .userAction {
    height: 35px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.description {
    display: flex;
    align-items: start;
        padding: 0.5em 0.8rem 0.5em 1.25rem;
        font-size: 14px;
}

.card-title {
    margin: 0;
}

.form-check {
    background-color: #c6d3dc;
    padding: 7px 0 5px 30px;
    border-radius: 50px 0 0 50px;
}

.progress-bar {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.progress span {
    position: absolute;
    padding-top: 5px;
}

.actionCard .card-body .pollOption {
    font-size: 13px;
    margin-left: 3em;
}

.actionCard .card-body .pollPerc {
    right:1em;
}

@media only screen and (max-width: 1000px) {
    .actionCard {
        width: 100%;
    }

}

.bg-info {
    background-color: #c6d3dc !important;
}

.progress {
    background: #f1f1f1;
    border-radius: 50px;
    height: 1.8rem;
    margin-bottom: 1em;
    position: relative;
    max-width: 400px;
}

.card .poll {margin:1.5em 0;}

.actionCard .card-body {
    padding: 1em 2em;
    font-size: 15px;
}

.actionCard .card-body p {
    margin: 0;
}

.actionCard .card-body h5 {
    margin: 0;
    font-size: 16px;
}



#feed {
    margin-top: 2em;

}

.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 10px;
    height: 25px;
    width: 25px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
    margin-top: 0 !important;
}

.form-radio:checked::before {
    position: absolute;
    font: 11px/1 'Open Sans', sans-serif;
    left: 15px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}

.form-radio:hover,
.form-radio:checked {
    background-color: #f1f1f1;
}

.card input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    height: 15px;
    width: 15px;
}


.carousel {
    box-shadow: 0px 0px 5px #cecacaad;

}

.carousel img {
    height: 200px;
    object-fit: cover;
}

.carousel .col-3 {
    display: inline-block;
    float: none;
}


#carousel-container .row {
    overflow-x: auto;
    white-space: nowrap;
}

#carousel-container {
    padding: 10px 0 1em 0;
    max-width: 90%;

}

#carousel-container h4 {
    margin: 0 1.5em;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    align-items: center;
    color: var(--lightBlue);
}

#carousel-container hr {
    margin: 2em 0;
}

.card--content img {
    height: 300px;
    object-fit: cover;
    min-width: 30vw;
    border-radius: 2px;

}

.card--content {
    margin-right: 5px;
    background-color: var(--darkBlue);
    position: relative;
}

#carousel-container .c {
    max-width: 100%;
    min-height: 200px;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
}

#highlights {
    margin: 1em 5px;

}

#highlights hr {
    margin-top: 0;

}

#carousel-container .c {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}


.card--content:hover img {
    visibility: visible;
}

.card--content:hover img {
    opacity: 0.3;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}



.card--content:hover .card-img-overlay {
    visibility: visible;
}

.card--content .card-img-overlay {
    visibility: hidden;
}



.card-img-overlay h5 {
    color: white;
}

.headerText {
    display: flex;
    flex-direction: column;
}

.card-date {
    font-size: 12px;
}


.link-event {
    text-decoration: underline;
}

.link-username {
    color: var(--lightBlue);
}

.fa-flag {
    margin-left:auto;
    padding-top:0.3em;
    color: #a1b6c8;
    font-size: 15px;

}

.fa-flag:hover {
    color:#d41111;
    
}

.card-going-event{
    border-bottom: 0;
    border-radius: .25rem.25rem 0 0;
}

.card-file-uploaded{
margin-top:1.5em;
margin-bottom: 1em !important;
}

.card-file-uploaded a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightBlue);
    border: 1.4px solid var(--lightBlue);
    border-radius: 4px;
    padding:0.5rem;
}

.fa-file{
    margin-right: 10px;
    font-size: 2em;
}


.footer hr{
    margin: 0 0 0.5rem 0;
}

.footerText{
    display:flex;
    padding: 0 1.5rem 0.5rem 1.5rem;
}

.fa-comments{
    font-size: 30px;
}

.footerText button{
margin: auto;
color: var(--lightBlue);
background: none;
border:none;
}

.footerText button:hover{
    color: #7d94a9;
    }