.comment img {
    object-fit: cover;
    height: 100px;
    width: auto;
}

.commentCard {
    margin-top: 10px;
}

.description .userAction {
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.description {
    display: inline-flex;
}