@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');



.myinvites .card-event-desc p {
    margin-bottom: 0;
}

.invitation {
    justify-content: center;
}

.invite-container {
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 20px;
}

.description {
    background: white;
}


.actionCard {
    width: 500px;
}


#ticketNavContainer {
    width: 85%;
}

.row {
    justify-content: left;
    margin: auto;
}


@media (max-width:535px){
    .actionCard{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .sortNav {
        width: 95%;
        }
  
}

@media (min-width:535px){
    .row{
    width: 536px;
    }

    .sortNav {
        width: 500px;
        }

        .actionCard {
            width: 490px;
        }
}

@media (min-width:992px){
    .row{
    width: 804px;
    }

    .sortNav {
        width: 788px;
    }
    .actionCard {
        width: 370px;
    }

}

@media (min-width:1297px){
    .row {
    width: 1072px;
    }

    .sortNav{
        width: 1056px;
    }

    .actionCard {
        width: 500px;
    }

}

