@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');



.myinvites .card-event-desc p {
    margin-bottom: 0;
}

.invitation {
    justify-content: center;
}

.invite-container {
    max-width: 500px;
    min-width: 300px;
    margin-bottom: 20px;
}

.description {
    background: white;
}

@media (max-width: 768px){
.container {
    width: 100%;
}
}
@media (min-width: 576px){
.container {
    width: 100%;
}
}

