#ticketNavContainer {
    width: 85%;
}

.row {
    justify-content: left;
    margin: auto;
}


@media (max-width:768px){
    .row {
        justify-content: center !important;
    }

    .tickets .col-auto {
        padding: 0;
    }

    #ticketNavContainer {
        width: 100%;
    }

    .tickets {
        padding: 0;
    }
}

@media (min-width:768px){
    .row, .sortNav {
    width: 536px;
    }
}

@media (min-width:992px){
    .row, .sortNav {
    width: 804px;
    }
}

@media (min-width:1297px){
    .row , .sortNav{
    width: 1072px;
    }
}

.tickets .col-auto{    padding: 0 9px;}

.ticket {
    width: 250px;
    height: 300px;
    border: 0px ;
}

.ticket img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-img-overlay{
    visibility: hidden;
}

.ticket{
    background: var(--darkBlue);
}

.ticket:hover .card-img-overlay{
    visibility: visible;
}

.ticket:hover img{
    opacity: 0.3;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.ticket .card-title{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.ticket  .eventDesc{
    position: absolute;
    bottom: 10px;
    margin: 0 20px 0 0;
    width: 85%;
}

.ticket  .eventDesc p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    margin: 0;
}

.ticketHr{
    border-top: 2px solid #dcd9d9bf ;
    margin: 8px 0;
}

.ticket .header{
    display: flex;
}
.ticket .header h5{
font-size: 14px;
}

.ticket .header .price{
    margin-right: auto;
}

.ticket .header .token{
    margin-left: auto;
}

.tickets{
    margin:auto;
}
.past-ticket {
    opacity: 0.4;
}

.past-ticket:hover {
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
