@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

body{
    --darkBlue:#1A2431;
    --lightBlue:#A1B6C8;
    --green:#79AF41;
    --lightGrey:#bfbfbf;
    --offWhite:#EBECEC;

    font-family: 'Roboto', sans-serif;
 }

html,body{
     height:100%;
 }

/*--------------------------*/
/*-------- NAV BAR ---------*/
/*--------------------------*/

h1{
    font-family: 'Roboto Condensed', sans-serif;

}

#mainpage, #about{
    background-color:var(--darkBlue);
    height: 100%;
}

#mainpage .container, #about .container{
    background-color:var(--darkBlue);
    margin-top:5em;

}

#mainpage .navbar, #about .navbar{
    box-shadow: none;
}

.navbar{
    background-color: var(--darkBlue) !important;
    box-shadow: 0px 0px 8px #888888;
}

.fa-bars{
    color:white;
}

.fa-plus-square{
    color: white !important;
}

#dropdown img{
    border-radius: 50px;
}

#dropdown{
    margin-left: 2px;
    padding-left:  10px ;
    padding-right:10px ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dropdown .fa-caret-down{
    color:white;
    padding-left: 5px;
}

.navbar-nav > .nav-item > .nav-link{
    color:#6b757d;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
}


.navbar-nav > .nav-item > .nav-link:hover, #dropdown:hover, .fa-plus-square:hover{
    color:white;
    background-color: #262F3C;
    border-radius: 4px;

}

.navbar-light .navbar-toggler{
    border:none;
}


.navbar-brand{
    font-size: 18px;
}



.navbar-nav .active>.nav-link, .navbar-brand{
    color:white !important;
}

.navbar-collapse > .searchBar{
    padding-left: 8px;
}

.navbar-collapse > .searchBar input{
    margin-right: 0!important;
    width: 99px !important;
    padding-right: 0;
    height: 30px;
    padding-left: 12px !important;
}

.searchBar input{
    font-size: 14px;
    border-radius: 50px 0 0 50px;
    border:none;
    background-color:#262F3C;
    height: 50px;
    padding-left: 20px !important;
}

.searchBar input:focus{
    background-color:#262F3C;
    box-shadow:none;
    color:white;
}

.navbar-collapse > .searchBar button{
    height: 30px;
    padding-top: 3px!important;
    padding-right: 12px !important;

}

 .searchBar button{
    border-radius: 0 50px 50px 0;
    border:none;
    background-color:#262F3C;
    color:var(--lightGrey);
    margin-right: 0!important;
    height: 50px;
    padding-right: 40px !important;
    width: 40px;
    box-shadow: none !important;

}



.searchBar button:hover{
    color:white;
}


.sortNav .navbar-text {
    color: var(--darkBlue);
}

.sortNav {
    background-color: white !important;
    margin-top: 50px;
    margin-bottom: 5px;
    padding: 0;
    box-shadow: 0px 1px 0px #888888 !important;
    margin-right: auto;
    margin-left: auto;
}

.sortNav .navbar-nav > .nav-item > .nav-link:hover{
    color: var(--darkBlue);
    background-color: white;
    border-radius: 4px;

}

.sortNav .nav .nav-item a.active{
    color:var(--darkBlue) !important;
    background-color: white !important;
}

.navbar-brand {
    color:var(--darkBlue) !important;
}
.sortNav .navbar-nav li{
    display: inline !important;
}
.sortNav a {
    color: var(--lightBlue);
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 12px;
    
}

.sortNav ul li a{
    margin: 0;
    padding-top: 12px;
}

/*buttons*/
.btn{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 2px 30px !important;
    border-radius: 50px;
    box-shadow: 0px 0px 1px #d8d8d8;

}


.btn-primary{
    background-color:#87b557!important;
    border:none;
}

.btn-primary:hover{
    background-color:var(--green)!important;
}

.btn-secondary{
    background-color:var(--lightBlue)!important;
    border:none;
}

.btn-secondary:hover{
    background-color:#799ab7!important;
}

.btn-outline-primary{
    border-color: var(--green)!important;
    background: none;
    color:var(--green)!important;
}

.btn-outline-primary:hover{
    background: var(--green)!important;
    color:white!important;
}

.btn-outline-secondary{
    border-color: var(--lightBlue)!important;
    background: none;
    color:var(--lightBlue) !important;

}

.btn-outline-secondary:hover{
    background:var(--lightBlue);
    color:white!important;
}

.btn-google {
    border-color: #ea4335;
    background: none;
    color: #ea4335;
  }

  .btn-google:hover {
    background: #ea4335;
    color: white !important;
  }

/*mainpage*/
#mainpage .container{
    margin-top: 6em
}

#mainpage .container > .searchBar input{
    width: 50% !important;
}

#mainpage .container > #logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:1em;
}


.card-deck{
    margin: 2em auto 0 auto !important;
}