img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-top: 5%;
  }

.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.parContainer {
    background-color: #f1f1f1;
}

h2 , p{
    font-family: 'Roboto Condensed', sans-serif;
}