img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin-top: 5%;
  }

.container {
    background-color: #EBECEC;;
    margin-left: 20%;
    margin-right: 20%;
}

.parContainer {
    background-color: #bfbfbf;
}

h2 , p{
    font-family: 'Roboto Condensed', sans-serif;
}