@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto:light|Roboto+Condensed|Roboto+Condensed:light');

body{
    --darkBlue:#1A2431;
    --lightBlue:#A1B6C8;
    --green:#79AF41;
    --lightGrey:#bfbfbf;
    --offWhite:#EBECEC;
    --red: #c34a40;

    font-family: 'Roboto', sans-serif;

    --box-shadow:0px 0px 2px #c5c5c5;
 }

html,body{
     height:100%;
 }

/*--------------------------*/
/*-------- NAV BAR ---------*/
/*--------------------------*/
@media (max-width:991px) {
    .navbar-nav {
        height: 30px;
    }
    #navbarTogglerDemo02 > form {
        position: relative;
        top: -40px;
        left: 40px;
        width: 200px;
    }
    #navbarTogglerDemo02 ul li:nth-child(1) {
        position: relative;
        top: -20px;
        width: 20%;
    }
    #navbarTogglerDemo02 ul li:nth-child(2) {
        position: relative;
        top: -54px;
        width: 20%;
        left: 40%;
    }

    #navbarTogglerDemo02 ul li:nth-child(3) {
        position: relative;
        top: -88px;
        width: 20%;
        left: 80%;
    }

    #navbarTogglerDemo02 ul li:nth-child(4) {
        position: relative;
        top: -180px;
        width: 30px;
        left: 84%;
    }


    #dropdown .dropdown-menu{
        position: absolute;
    }
}



h1{
    font-family: 'Roboto Condensed', sans-serif;
}

#mainpage{
    background-color:var(--darkBlue);
    height: 100%;
}

#mainpage .container{
    background-color:var(--darkBlue);
    margin-top:5em;

}

#mainpage .navbar, #about .navbar{
    box-shadow: none;
}

body > .navbar:nth-child(1){
    background-color: var(--darkBlue) !important;
    z-index: 1;
}

.fa-bars{
    color:white;
}

.fa-plus-square{
    color: white !important;
}

#dropdown{
    padding-right: 10px;
    position: absolute;
    top: 0.7em;
}


@media (max-width:991px){
#dropdown{
    right: 3em;
}
}

@media (min-width:992px){
    body> nav #dropdown{
        right: 10px;
    }

    .navbar-collapse .logged-in{
        margin-right: 6em;
    }
    
    #newEventBtn{
    position: absolute;
    right: 1em;
    }
}    

#dropdown .fa-caret-down{
    color:white;
    padding-left: 5px;
}

.navbar-nav > .nav-item > .nav-link{
    color:#6b757d;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
}


.navbar-nav > .nav-item > .nav-link:hover, #dropdown:hover, .fa-plus-square:hover{
    color:white;
    background-color: #262F3C;
    border-radius: 4px;

}

.navbar-light .navbar-toggler{
    border:none;
}


.navbar-brand{
    font-size: 18px;
}


.navbar-nav .active>.nav-link, .navbar-brand{
    color:white !important;
}

.navbar-collapse > .searchBar-blue{
    padding-left: 8px;
}

.navbar-collapse > .searchBar-blue input:hover{
    background-color:#262F3C;
    width: 150px !important;
}

.navbar-collapse > .searchBar-blue input:hover + * {
    background-color:#262F3C;
}
.navbar-collapse > .searchBar-blue input{
    margin-right: 0!important;
    width: 0px !important;
    padding-right: 0;
    height: 30px;
    padding-left: 12px !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchBar-blue input{
    font-size: 14px;
    border-radius: 50px 0 0 50px;
    height: 50px;
    padding-left: 20px !important;
}

.searchBar-blue input{
    background-color: transparent;
    border:none;
}

.searchBar-blue input:focus{
    width: 150px !important;
    background-color:#262F3C;
    box-shadow:none;
    color:white;
}

.searchBar-blue input:focus + * {
    background-color:#262F3C;
}

.navbar-collapse > .searchBar-blue button{
    height: 30px;
    padding-top: 3px!important;
    padding-right: 12px !important;
    padding-left: 0px !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

 .searchBar-blue button{
    border-radius: 0 50px 50px 0;
    border:none;
    color:var(--lightGrey);
    margin-right: 0!important;
    height: 50px;
    padding-right: 40px !important;
    width: 40px;
    box-shadow: none !important;

}

.searchBar-blue button:hover{
    color:white;
}



.sortNav {
    background-color: transparent !important;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 0;
    box-shadow: 0px 1px 0px #888888 !important;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-item{
    padding: 0.25em 0;
}

body > nav .dropdown-menu{
    right: 5em;
    left: -114px;
    width: 180px;
}

.filters .dropdown-menu{
    left: 12px;
}

.dropdown-menu{
    padding: 1em;
}

/*buttons*/
.btn{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px 20px ;
    border-radius: 50px;
    box-shadow: 0px 0px 1px #d8d8d8;
}

.btn a{
    text-decoration: none;
    color:white;
}

.btn-no{
    border:0;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    background: none;
}

.btn-third{
    color:var(--darkBlue)!important;
    border-color:var(--darkBlue)!important;
}

.btn-primary{
    background-color:#87b557!important;
    border:none;
}

.btn-primary:hover{
    background-color:var(--green)!important;
}

.btn-secondary{
    background-color:var(--lightBlue)!important;
    border:none;
}

.btn-secondary:hover{
    background-color:#799ab7!important;
}

.btn-outline-primary{
    border-color: var(--green)!important;
    background: none;
    color:var(--green)!important;
}

.btn-outline-primary:hover{
    background: none;
}

.btn-outline-secondary{
    border-color: var(--lightBlue)!important;
    background: none;
    color:var(--lightBlue) !important;

}

.btn-outline-secondary:hover{
    background: none;
}

.btn-google {
    border-color: var(--red);
    background: none;
    color: var(--red);
  }

  .btn-google:hover {
    background: var(--red);
    color: white !important;
  }

/*mainpage*/
#mainpage .container{
    margin-top: 6em
}

#mainpage .container > .searchBar-blue input{
    width: 50% !important;
}

#mainpage .container > #logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:1em;
}

.roundRadius{
    border-radius: 100px !important;
}


.page-footer{
    font-size: 14px;
}

body > .navbar:nth-child(1) .dropdown-toggle{
    background: transparent;
    border:0;
    color:white;
    padding-left: 0;
}

#newEventBtn{
    background: none;
    border: 0;
    margin-left: auto;
    margin-right: 3em;
}

.uploadCover{
    position: absolute;
}

.eventPhoto img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.eventPhoto {
    margin: 0;
    border-radius: 2px;
    position: relative;
}


.friendList img {
    width: 30px;
    height: 30px;
}

.friendList{
    height:180px;
    overflow-y: scroll;
}

#createEventModal  .nav-pills .nav-link.active, #editEventModal .nav-pills .nav-link.active{
    background-color: var(--lightBlue);
    color:white;
}

#createEventModal .nav-pills .show>.nav-link, #editEventModal .nav-pills .show>.nav-link {
    color: var(--lightBlue);
    background-color: #e9ecef;
}

#createEventModal a, #editEventModal a {
    color: var(--lightBlue);
    background-color: #e9ecef;
}

#createEventModal .nav-pills .nav-item:nth-child(1) .nav-link,
#editEventModal .nav-pills .nav-item:nth-child(1) .nav-link{
    border-radius: 50px 0 0 50px;
}

#createEventModal .nav-pills .nav-item:nth-child(2) .nav-link,
#editEventModal .nav-pills .nav-item:nth-child(2) .nav-link{
    border-radius: 0 50px 50px 0;
}

.friendList .row .input-group-prepend div{
    border-radius: 50px 0 0 50px;
    width: 400px;
    border-right: 0;
    background: transparent;
}

.friendList .row .input-group-append div{
    border-radius: 0 50px 50px 0 ;
    border-left: 0;
    background: transparent;
}

#createEventModal .form-control,
#editEventModal .form-control,
#reportEventModal .form-control {
    border:0;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
}

.disabled{
    color:#bfc4c9;
}
.disabled::-webkit-input-placeholder{
    color:#bfc4c9;
}


#createEventModal .tab-content .input-group-prepend div,
#editEventModal .tab-content .input-group-prepend div{
    border-radius: 0;
    border:0;
    border-bottom: 1px solid #ced4da;
    background: transparent;
}

.uppercase{
    text-transform: uppercase;
}


@media (min-width: 576px){
#createEventModal .modal-dialog, 
#editEventModal .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
    }

}

@media (max-width: 578px){
    .friendList .row .input-group-prepend div{
            width: 200px !important;
    }

    .btn-file {
        left: 34% !important;
        }
    
}


.btn-file {
    font-size: 14px;
    position: absolute;
    overflow: hidden;
    bottom: 5%;
    left: 42%;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}


.form-control:disabled, .form-control[readonly] {
    background-color: transparent !important;
}


.modal-content{
    border-radius:3px;
}


.card .header a{
    color:var(--lightBlue);
    text-decoration: none;
}

.fa-font-awesome-flag:hover {
    color: var(--red);
}

.custom-select{
    margin-left: 5px;
}